//-----------------------------------/ Основные цвета страницы /---------------------------------------
$mainColorLight: #000; // Цвет шрифта по умолчанию
$mainColorDark: #fff; // Цвет шрифта по умолчанию
$mainBgLightColor: #F8F8F8;
$mainBgDarkColor: #050505;

//-----------------------------------/ Палетка /---------------------------------------
